.table-view .td:nth-child(4) a.btn {
position: absolute;
bottom: 0;
right: 0;
margin-bottom: 25px;
font-size: 14px
}
#drop-box div {
    min-height: 160px;
    overflow-y: scroll;
}
#select-nationality li:hover{
    background: #0a2a3b;
    color: #fff;
}
