DEBUG=True
UID=1000
APP=auth
ENV=dev
PGPORT=5432
PGPASSWORD=pass
SECRET_KEY=CHANGEME
ALLOWED_HOSTS=*

OWNER_EMAILS=app@dev.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
SOCIAL_AUTH_VK_OAUTH2_KEY=
SOCIAL_AUTH_VK_OAUTH2_SECRET=
SOCIAL_AUTH_TWITTER_KEY=
SOCIAL_AUTH_TWITTER_SECRET=
