
{% extends 'frontend_base.html' %}
{% load generaltags thumbnail i18n %}
{% block title %} {% trans 'Careers' %} {% endblock %}
{% block extra_css %}
<link href="/static/css/easydropdown.css" rel="stylesheet" type="text/css">
{% if LANGUAGE_BIDI %}
<style>
    h4 {
        font-size: 20px;
        color: #87A7FF;
        background: url(/static/ar/images/blue-arrow-left.png) right center no-repeat;
        padding-right: 17px;
        margin-bottom: 15px;
        font-weight: normal;
    }
    #submit_cv_button{
        float:right;
    }
</style>
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easydropdown.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/jqModal.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".popup").jqm({modal: true, trigger: ".apply-btn"});       
        $("#career-form").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                phone:
                    {
                    required: true,
                    number: true
                }

            },
            messages: {
                jobtitle: "Please enter Job Title",
                name: "Please enter your Name",
                phone: "Please enter Phone Number",
                email: "Please enter a valid email address"

            },
            submitHandler: function(form) {
                form.submit();
            }
        });
        $('.jqmClose').click(function(){
            $('.error').remove();
            $('#error_file').remove();
            $('#error').remove();
            $('#success_resp').hide();
            $("#career_form :input:not(input[type='hidden'],input[type='submit'])").each(function(){
                $(this).val('');
                Recaptcha.reload();
            });
        });
    });


    function getJObDesig(current){
        var desig = $(current).parent().next().val();
        var design_obj = $(current).parent().next()        
        $('#job_cat_name').val($(design_obj).next().val());
        $('#design_name').val(desig);
        $("#design_name").attr( "readonly","True" );
    }
    $(document).ready(function() {
        $("#submit_cv_button").click(function(){
            $(".popup").jqmShow();
            $("#design_name").removeAttr("readonly" );
        });

        $('select').change(function(){
            var cat = $(this).val();
            window.location.href = "/career/job-vacancies/.?categories=" + cat;

        });
        var count=0
        $('#career_form').ajaxForm({'success':Showresponses});
        function Showresponses(response){
            if (count >=1){
                $('.error').remove();
            }
            $('#success_resp').show();
            if(response.context.status==true){
                $('#success_resp').html(response.context.success);                
                $("#career_form :input:not(input[type='hidden'],input[nmae='designation'],input[type='submit'])").each(function(){
                    current = $(this)
                    current_name  = $(this).val('');
                });
                $('.error').remove();
                $('#error_file').remove();
                $('#error').remove();
                Recaptcha.reload();
                setTimeout(function(){ $(".popup").jqmHide(); $('#success_resp').hide();$("#design_name").removeAttr("readonly" );}, 3000);
            }
            else if(response.context.status == false){
                $("#career_form :input:not(input[type='hidden'],input[type='submit'])").each(function(){
                    current = $(this)
                    current_name  = $(this).attr('name');
                    Recaptcha.reload();
                    $.each(response.context.errors, function( index, value ){
                        if(index == 'captcha'){
                            $('#error').html(value);
                        }
                        if(current_name == index) {
                            if(index == 'upload_file'){
                                $('#error_file').html(value);
                            }
                            else{
                                var div =current.after( "<div class=error style='color:red;font-size:13px;margin-top:8px;margin-bottom:16px;'></div>");
                                current.next().html(value); 
                                count++
                            }
                        }
                    });
                });
                  
            }
        }
        return false;
    });
</script>
{% endblock %}		
{% block page_banner %}
{% get_banners as career_banner %}
<section class="inner-banner">
    {% thumbnail career_banner.career_page '1351x211' crop='center' as thumb %}
    <img src="{{ thumb.url }}" alt="">
    {% endthumbnail %}
</section>
{% endblock %}
		{% block content %}
<div class="inner-contents-wrapper">
    <div class="title-area clearfix">
        <h1>{% trans 'Careers' %}</h1>
        <ul class="bredcrums clearfix">
            <li><a href="/">{% trans 'Home' %}</a></li>
            <li>{% trans 'Careers' %}</li>
        </ul>
    </div>
    <div class="careers">
        <section class="section1">
            <h4>{{ carrer_info.title }}</h4>
            <p>{{ carrer_info.description|safe }}</p>
            <p><input type="button" id ="submit_cv_button" class="btn" value="{% trans 'Submit Your CV' %}"></p>
        </section>
        {% if careers %}
        <h4>{% trans 'Available Vacancies' %}</h4>
        <section class="job-categories clearfix">
            <div>{% trans 'Job Category' %}</div>
            <div><select class="dropdown">
                    <option value="all" >{% trans 'All Categories' %}</option>
                    {% for cat in category_list %}
                    <option value="{{ cat }}" {% ifequal cat request.GET.categories %} selected {% endifequal %}>{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
        </section>        
        <section class="section2 clearfix">           
            <aside class="pull-left">
              {% for career in careers|partition:"2"|last %}
            <div class="info-area">
                 <h3>{{ career.designation }}</h3>
                <p>{{ career.short_desc|safe }}</p>
                <p><input type="button" class="btn apply-btn" onClick="getJObDesig(this)" value="{% trans 'Apply For This Vacancy' %}"></p>
                <input type="hidden" value="{{ career.designation }}" />
                <input type="hidden" id ="job_cat" value="{{ career.job_cat.id }}" />
            </div>
               {% endfor %}
            </aside>
           
<aside class="pull-right">
              {% for career in careers|partition:"2"|first %}
            <div class="info-area">
                 <h3>{{ career.designation }}</h3>
                <p>{{ career.short_desc|safe }}</p>
                <p><input type="button" class="btn apply-btn" onClick="getJObDesig(this)" value="{% trans 'Apply For This Vacancy' %}"></p>
                <input type="hidden" value="{{ career.designation }}" />
                <input type="hidden" id ="job_cat" value="{{ career.job_cat.id }}" />
            </div>
               {% endfor %}
            </aside>
        </section>
        {% endif %}
    </div>
</div>
<div class="popup">
    <div id="success_resp" style="color:green;font-size:16px;"></div>
    <a href="#" class="jqmClose" title="Close"><div class="close_btn"></div></a>
    <h3>{% trans 'Please fill the below form' %}</h3>
    <form id="career_form" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="contact-form">
            <ul>
                <li>{% trans 'Job Title' %}<span style="color:red;"> * </span></li>
                <li><input type="text" id ="design_name" name="designation"  class="input required"></li>
            </ul>
            <input type="hidden" id="job_cat_name" name="job_cat" />
            <ul>
                <li>{% trans 'Name' %}<span style="color:red;"> * </span></li>
                <li><input type="text" name="name" class="input required"></li>
            </ul>
            <ul>
                <li>{% trans 'Email ID' %}<span style="color:red;"> * </span></li>
                <li><input type="email" name="email" class="required input"></li>
            </ul>
            <ul>
                <li>{% trans 'Telephone' %}<span style="color:red;"> * </span></li>
                <li><input type="text" name="tele" class="input required"></li>
            </ul>
            <ul>
                <li>{% trans 'Upload CV' %}<span style="color:red;"> * </span></li>
                <li><label class="file-upload"> <span>Browse</span>{{ form.upload_file }}</label><div id="error_file" style="color:red;font-size:13px;"></div></li>
            </ul>
            <ul>
                <li></li>
                <li>{{ form.captcha }}<div id="error" style="color:red;font-size:13px;"></div></li>
            </ul>
            <ul>
                <li></li>
                <li><input type="submit" id="career_form_id" class="btn" value="{% trans 'Submit' %}"></li>
            </ul>
        </div>
    </form>
</div>
			{% endblock %}
