@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html{background:url(../images/body-bg.jpg) 0 0px repeat;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px;}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,span,a,input,textarea,select,label,button,img,header,footer,aside,section,nav,div,table,tr,td,th,tbody{margin:0px; padding:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

.left, .left-side, .pull-left{float:left;}
.right, .right-side, .pull-right{float:right;}

.clearfix:after{clear:both; content:""; display:block;}
li{list-style-type:none;}
a img{border:0px;}
a{text-decoration:none; color:#000000;}

.hide{display:none;}
.show{display:block;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.no-space{margin:0px; padding:0px;}
.relative{position:relative;}

.pb-ten{padding-bottom:10px;}
.pb-fifteen{padding-bottom:15px;}
.pb-twenty{padding-bottom:20px;}
.pb-twenty5{padding-bottom:25px;}
.pb-thirty{padding-bottom:30px;}
.pb-thirty5{padding-bottom:35px;}

.mb-ten{margin-bottom:10px;}
.mb-fifteen{margin-bottom:15px;}
.mb-twenty{margin-bottom:20px;}
.mb-twenty5{margin-bottom:25px;}
.mb-thirty{margin-bottom:30px;}
.mb-thirty5{margin-bottom:35px;}
ul.inline-list li{display:inline-block; vertical-align:middle;}

p{margin-bottom:25px; line-height:23px; text-align:justify;}
h1{font-size:24px; color:#FFF; margin-bottom:15px; font-weight:400;}
h2{font-size:21px; color:#4174b9; font-weight:600; margin-bottom:15px;}
h3{font-size:21px; font-weight:600; color:#FFFFFF; margin-bottom:10px;}
h4{font-size:20px; color:#87a7ff; background:url(../images/icons/blue-arrow.png) 0px 10px no-repeat; padding-left:17px; margin-bottom:15px; font-weight:normal;}

.input{width:100%; padding:7px 10px; background-color:#FFFFFF; border:0px; border-radius:5px;}
.ta{width:100%; padding:7px 10px; background-color:#FFFFFF; border:0px; border-radius:5px; height:100px;}

.btn{display:inline-block; padding:5px 25px; color:#FFFFFF; background-color:#4174B9; border:0px; border-radius:5px; cursor:pointer;}
.btn:hover{background-color:#345E96;}

#container{position:relative;}

.page-width{width:1172px; margin:auto; text-align:left;}
#header{background-color:#000000; color:#FFFFFF; min-height:75px;}
#header .page-width{padding-top:22px;}
#navigation{padding-left:202px;}
#navigation ul li{list-style-type:none; float:left; font-size:18px; margin-right:28px; position:relative;}
#navigation ul li:last-child{margin-right:0px;}
#navigation ul li a{color:#FFFFFF; text-decoration:none;}
#navigation ul li a:hover{color:#5B92DC;}
#navigation ul li:hover > .dd-menu{display:block;}

#navigation ul li .dd-menu{width:780px; position:absolute; top:23px; left:0px; margin-left:-125px; z-index:2000; margin-bottom:21px; padding-top:17px; display:none;}
#navigation ul li .dd-menu .submenu{display:none;}
#navigation ul li .dd-menu .submenu.active{display:block;}

#navigation ul li .dd-menu .arrow{width:100%; height:17px; background:url(../images/dd-menu-arrow.png) 160px 0px no-repeat;}
#navigation ul li .dd-menu .body{padding:20px; background-color:#FFFFFF; border-radius:5px;}
#navigation ul li .dd-menu ul li{float:none; margin:0px; padding:0px; color:#000000;}
#navigation ul li .dd-menu ul li a{color:#000000;}
#navigation ul li .dd-menu ul li a:hover{text-decoration:none;}
#navigation ul li .dd-menu ul.title{display:table; width:100%; border-bottom:solid 1px #D7D7D7; padding-bottom:15px; background:none;}
#navigation ul li .dd-menu ul.title li{display:table-cell; font-size:16px; position:relative; cursor:pointer;}
#navigation ul li .dd-menu ul.title li:hover{color:#073F8B;}

#navigation ul li .dd-menu ul.title li.selected{color:#4174b9;}

#navigation ul li .dd-menu p{font-weight:600; margin-bottom:5px; color:#000000; font-size:14px; margin-top:15px;}
#navigation ul li .dd-menu ul.bullets-list li{text-decoration: none; background:url(../images/icons/bullet.jpg) 0px 8px no-repeat; padding-left:13px; font-size:14px; margin-bottom:5px;}
#navigation ul li .dd-menu ul.bullets-list li a:hover{color:#5B92DC;}
#navigation ul li .dd-menu ul.bullets-list li:last-child{margin-bottom:0px;}

.header-search-area li{float:left; position:relative;}
.header-search-area li .input{color:#b8b8b8; font-size:13px;}
.header-search-area li.language{font-weight:600; background:url(../images/icons/down-arrow.png) right 11px no-repeat; padding:4px 18px 0px 24px; cursor:pointer;}
.header-search-area .go-btn{background:none; width:21px; height:17px; background:url(../images/icons/search-icon.png) 0 0px no-repeat; position:absolute; top:6px; right:10px; border:0px; cursor:pointer;}
ul.lang-list{position:absolute; top:45px; right:-9px; width:45px; background-color:#CCC; display:none;}
ul.lang-list li{float:none; width:100%; padding:5px 10px; background:none; border-bottom:solid 1px #999999; color:#000000; list-style-type:none;}
ul.lang-list li:hover{background-color:#999999; cursor:pointer;}
.transparent-box{border-radius:7px; background-color:rgba(0,0,0,0.43); color:#FFFFFF; padding:20px 35px; text-align:justify;}
.homepage-sections{padding-bottom:56px;}
.logo{width:133px; height:105px; position:absolute; top:0px; left:0px;}

.ceo-message{float:left; width:770px; padding-bottom:32px;}
.ceo-message h1{margin-bottom:18px;}
.ceo-message p{line-height:24px;}
.ceo-message p:last-child{margin-bottom:0px;}
.ceo-images{float:right; margin-left:32px; margin-bottom:6px;}
.ceo-images img{float:left; border:solid 3px #D9DDE7; border-radius:5px; margin-right:27px; box-shadow:0px 0px 3px rgba(0,0,0,0.40);}
.ceo-images img:last-child{margin-right:0px;}

.gallery{float:right; width:442px; margin-left:24px; margin-bottom:6px;}
.gallery .image{border:solid 5px #FFFFFF; border-radius:5px; margin-bottom:17px;}
.gallery .image img{max-width:100%; display:block;}
.gallery .thumbnails{position:relative;}
.gallery .thumbnails .arrow-left{width:13px; height:22px; background:url(../images/gallery/arrows.png) 0 0px no-repeat; position:absolute; top:40%; left:0px; cursor:pointer;}
.gallery .thumbnails .arrow-right{width:13px; height:22px; background:url(../images/gallery/arrows.png) 0 -22px no-repeat; position:absolute; top:40%; right:0px; cursor:pointer;}
.gallery .th-carousel{width:400px; margin:auto;}
.gallery .th-carousel li{margin:0px 6px; cursor:pointer;}
.gallery .th-carousel li img{border:solid 2px #FFFFFF; border-radius:5px;}

.latest-news{float:right; width:370px; background-color:#FFFFFF; border-radius:7px; padding:13px 18px; position:relative;}
.latest-news .top-arrow{width:20px; height:8px; background:url(../images/latest-news-arrows.jpg) 0 0px no-repeat; position:absolute; top:15px; right:18px; cursor:pointer;}
.latest-news .bottom-arrow{width:20px; height:8px; background:url(../images/latest-news-arrows.jpg) 0 -8px no-repeat; position:absolute; top:30px; right:18px; cursor:pointer;}
.latest-news h2{border-bottom:solid 1px #CCCCCC; padding-bottom:10px; margin-bottom:0px;}
.latest-news .item{border-bottom:dashed 1px #DADADA; padding:14px 0px; margin-bottom:14px;}
.latest-news li{border-bottom:solid 1px #DADADA;}
.latest-news div.item:last-child{border-bottom:0px; padding-bottom:0px;}
.latest-news .item .left{width:55px; height:55px; background-color:#4174B9; text-align:center; font-size:14px; color:#FFFFFF; line-height:20px; padding-top:8px; border-radius:5px;}
.latest-news .item .left span{display:block; font-size:28px;}
.latest-news .item .right{width:268px;}
.latest-news .item .right p.title{font-size:17px; margin-bottom:4px;}
.latest-news .item .right p.title a{color:#4174b9;}
.latest-news .item .right p{font-size:12px; line-height:17px;}
.latest-news .item .right p:last-child{margin-bottom:0px;}

.inner-banner{overflow:hidden; text-align:center;}
.inner-banner img{display:block; width:100%;}

.inner-contents-wrapper{border-radius:7px; background-color:rgba(0,0,0,0.43); color:#FFFFFF; padding:20px 35px; margin:30px 0px; padding-bottom:60px;}

.scroll-pane{max-height:280px; overflow:auto; outline:none; } 
.scroll-pane.news-archive{max-height:620px;}

.title-area h1{float:left; margin-bottom:22px;}
ul.bredcrums{float:right; padding:7px 15px; background-color:rgba(0,0,0,0.20); border-radius:7px;}
ul.bredcrums li{float:left; color:#FFFFFF; background:url(../images/icons/bredcrums-arrow.png) right 5px no-repeat; padding:0px 18px 0px 8px;}
ul.bredcrums li:first-child{padding-left:0px;}
ul.bredcrums li:last-child{background:none; padding-right:0px;}
ul.bredcrums li a{color:#FFFFFF;}

.careers .section1{padding-bottom:40px;}
.careers .section1 p{margin-bottom:15px;}
.careers .info-area{padding-bottom:40px;}
.careers .info-area h3{margin-bottom:7px;}
.careers .info-area p{margin-bottom:10px;}
.careers .info-area p:last-child{margin-bottom:0px;}
.careers .job-categories{padding-bottom:30px;}
.careers .job-categories div{float:left;}
.careers .job-categories div:first-child{padding-top:4px; padding-right:18px;}
.careers .job-categories .dropdown{width:167px;}
.careers .section1 p:last-child{margin-bottom:0px;}
.careers .section2 .pull-left{width:48%;}
.careers .section2 .pull-right{width:48%;}
.careers .section2 .pull-right .info-area p:last-child{padding-top:46px; margin-bottom:0px;}


.contact-form ul{display:table; width:100%; margin-bottom:17px;}
.contact-form ul:last-child{margin-bottom:0px;}
.contact-form .input{border:solid 1px #D1D1D1;}
.contact-form ul li{display:table-cell; color:#fff; font-size:18px; vertical-align:top;}
.contact-form ul li:first-child{width:30%;}

.popup{width:556px; background-color:#FFFFFF; padding:37px; border-radius:5px; position:fixed; border-radius:5px; top:40px; left:50%; margin-left:-278px; z-index:2000; color:#000000; display:none;}
.popup h3{color:#4174B9; margin-bottom:40px; background:none;}
.jqmOverlay{background-color:#000; cursor:pointer; z-index:1000;}
.close_btn{width:9px; height:9px; background:url(../images/icons/close-icon.jpg) 0 0px no-repeat; position:absolute; top:10px; right:9px; z-index:2000;}
a .close_btn{border:0px; cursor:pointer;}
.popup .contact-form ul li{color:#000;}
.popup .contact-form ul{margin-bottom:10px;}

.file-upload{width:102px; height:30px; line-height:25px; background-color:#4174B9; padding:5px 42px; border-radius:5px; border:0px; color:#FFF; position:relative; font-size:14px;}
.file-upload:hover {cursor:pointer; background-color:#000000; color: #FFF; text-decoration:none; }
.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.file-upload span {
	position: absolute;
	width:100%;
	top: 2px;
	left: 0px;
	text-align:center;
	display: block;
	color:#FFF !important;
}


#footer{background-color:#000000; color:#FFFFFF; padding:5px 0px; padding:25px 0px; font-size:13px;}
#footer .left{width:30%;}
#footer .center{width:30%; float:left; width:40%; text-align:center;}
#footer .right{width:30%; text-align:right; font-size:14px;}
#footer a{color:#FFFFFF;}
#footer .left ul.inline-list li{margin-right:15px;}
#footer .left ul.inline-list li a{text-decoration:underline;}
#footer .left ul.inline-list li:last-child{margin-right:0px;}
#footer .right ul.inline-list li:last-child{padding-left:10px;}
.wrap-right{float:right; margin-left:24px;}
.factsheet.left{width:740px;}
.factsheet.left ul{margin:0px; padding:0px; background-color: rgba(71,87,134,0.43); border-bottom:solid 1px #263a75;}
.factsheet.left ul li{list-style:none; float:left; padding:7px; font-size:16px; padding-left:18px; line-height:26px; border-left:solid 1px #263a75; display:inline-block;}
.factsheet.left ul li:first-child{width:38%; border:none;}
.factsheet.left ul.alternate{background-color: rgba(47,76,156,0.43);}
.contact.left{width:50%;}
.contact.right{width:38%;}
.contact.right .map{background-color:#FFFFFF; border:solid 5px #FFFFFF; border-radius:7px; box-shadow:0px 0px 21px 2px rgba(0, 0, 0, 0.74902); height:300px;}
.contact.right .map iframe{width:100%; height:100%; border:0px;}
.contact.right .address{margin-top:15px;}
.contact.right .address p{margin-bottom:1px;}
#banner{padding-top:20px;}
#banner h1{text-align:center; font-size:36px;}
#banner p{color:#ffffff; text-align:center; font-size:18px; margin-bottom:0px;}


.post-container h1 img{margin-bottom:30px;}
.news-archive .post-time{width:15%; float:left; font-size:28px; text-align:center; background-color:#4171b9; color:#fff; border-radius:5px; line-height:25px; padding:5px 0px; cursor:pointer;}
.news-archive .post-time span{display:block; font-size:14px;}

.news-archive article{padding:10px 0px; border-bottom:dotted 1px #CCCCCC;}
.news-archive .post-detail{width:85%; float:right; padding:0px 10px;}
.news-archive .post-detail p.title{font-size:18px; line-height:19px; margin-bottom:9px; color:#4174b9; cursor:pointer;}
.news-archive .post-detail p{color:#000000; font-size:12px; line-height:17px;}
.news-archive .post-detail p:last-child{margin-bottom:0px;}


section[role="main"] h2{color:#fff;}
section[role="main"]{width:59%; margin-right:1%;}
.main-content .store{background: #fff; border-radius:5px; padding:10px;}
.main-content .store h2{color:#4174b9; line-height: 30px;;}
.main-content .store h2 span{display:block; color:#000; font-size: 16px;}
.main-content .store .items{height:450px;}
.main-content .store .items img{width:100%; height:100%;}
.main-content .store p{ color:#000; font-size: 14px; margin-top: 10px; line-height: 23px;}

.side-menu-store{background:#fff; border-radius:5px; padding:18px; width:40%; margin-top:43px; padding-bottom: 14px;}
.side-menu-store .header{border-bottom:1px solid #d1d1d1; margin-bottom:3px;}
.side-menu-store .header .year .dropdown{width:80px; color:#d1d1d1; outline:none; border:none; border:1px solid #d1d1d1; border-radius:5px;}
.side-menu-store article .date-time-cover .date{border-right:none;}
.side-menu-store article h4{background: none;}
.side-menu-store .post-container .post-time{width:14%; margin-right: 10px;}
.side-menu-store .post-container .post-detail{width:83%;}
.side-menu-store .post-container .post-detail h4{font-size:18px; padding-left:0px; margin-bottom: 5px;}
.side-menu-store .post-container .post-detail p{color:#000; padding-right:75px; font-size: 12px; margin-bottom: 5px; }
.side-menu-store ul li{margin-bottom:5px; border-bottom: 1px dashed #d1d1d1;}
.side-menu-store ul li:last-child{border-bottom:none; margin-bottom:none;}
.side-menu-store .post-container .post-detail p:last-child{margin-bottom:1px;}


.sitemap-container .sitemap-column{width:25%; float:left;}
.sitemap-container .sitemap-column:nth-child(3){width:18%;}
.sitemap-container .sitemap-column:nth-child(4){width:18%;}
.sitemap-container .sitemap-column:nth-child(2){width:39%;}
.sitemap-container .sitemap-column ul{padding:0px; padding-left: 10px;}
.sitemap-container .sitemap-column ul li{margin-bottom: 15px; font-size: 16px;}
.sitemap-container .sitemap-column ul li a{color:#ffffff;}
.sitemap-container .sitemap-column ul li ul {padding-left:35px; list-style:disc; margin:15px 0px;}
.sitemap-container .sitemap-column ul li ul li{list-style:disc; line-height:18px; margin-bottom:2px;}
.sitemap-container .sitemap-column h4 a{color:#87a7ff}
.sitemap-container .sitemap-column ul li ul li ul{padding-left:45px; margin:15px 0px;}
.sitemap-container .sitemap-column ul li ul li ul li{padding-left:10px; list-style:none; line-height:18px;  margin-bottom:2px; background:url(../images/dl-arrow.png)center left no-repeat; vertical-align:middle; }
.sitemap-container .sitemap-column ul li ul li ul li:before{}

.post-container .post-time{width:12%; margin-right: 10px;}
.post-container .post-detail{width:87%;}
.post-container .date-time-cover{background:#4171b9; color:#fff; border-radius:5px; padding-right:10px;}
.date-time-cover .date, .date-time-cover .time{padding: 10px; border-right:1px dashed #fff; font-size:28px; width:50%; text-align:center; font-family:'Open Sans';}
.date-time-cover .time{border-right:none;}
.date-time-cover .date h5 span, .date-time-cover .time h5 span{font-size: 14px; display: block; text-transform:uppercase;}
.date-time-cover  h5{line-height: 19px;}
.post-detail p{font-size: 14px; line-height: 23px;}
label.error{color:red; font-size:13px;}

@media screen and (max-width:1000px) and (min-width: 240px){
	#container{min-width:1200px;}
}

.search article{display:block; border-bottom:solid 1px #ffffff;}
.search article .title{font-size:15px; text-decoration:underline; font-weight:700; padding-bottom:8px; padding-top:12px;}
.search article .title a{color:#ffffff; text-decoration:underline;}
.search article .detail >p a{color:#87a7ff; text-decoration:none; float:right;}
.sub-title h2{font-size:23px; color:#ffffff; font-weight:400;}
.pagination{float:right; margin-top:15px;}
.pagination ul{margin:0px; padding:0px;}
.pagination ul li{float:left; padding-right:10px; }
.pagination ul li:last-child{padding-right:0px;}
.pagination ul li a{font-size:19px; color:#ffffff;}
.pagination ul li a:hover{text-decoration:underline;}
.pagination ul li a.selected{text-decoration:underline; font-weight:600;}

@media screen and (max-width:1000px) and (min-width: 240px){
	#container{min-width:1200px;}
}