{% extends 'frontend_base.html' %}
{% block title %}News and Events {% endblock %}
{% load generaltags thumbnail i18n %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/lightbox.css" media="screen"/>
<link href="/static/css/jquery.jscrollpane.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/easydropdown.css" media="screen"/>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easydropdown.js"></script>
<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript">
    $(window).load(function(e){
        $(".scroll-pane").jScrollPane();
    });
    function getNews(current_val){
        var val = $(current_val).parent().siblings().val();
        $.ajax({
            data: {'news_id':val},
            type: 'POST',
            url: '{% url "events" %}',
            success: function(response) {
                $( "#news_detail" ).replaceWith(response.context);
            }
        });
    }


    function getNewsobj(current_val){
        var val = $(current_val).parent().find('input').val();
        $.ajax({
            data: {'news_id':val},
            type: 'POST',
            url: '{% url "events" %}',
            success: function(response) {
                $( "#news_detail" ).replaceWith(response.context);
            }
        });
    }
    $(document).ready(function(){

        $('select').change(function(){
            var year = $(this).val();
            window.location.href = "/news_events/events/.?year=" + year;
                
                
        });
    });

</script>
{% endblock %}
{% block page_banner %}
{% get_banners as news_banner %}
<section class="inner-banner">
    {% thumbnail news_banner.news_page '1351x211' crop='center' as thumb %}
    <img src="{{ thumb.url }}" alt="News & Events">
    {% endthumbnail %}
</section>
{% endblock %}
{% block content %}
<div class="inner-contents-wrapper">
    <div class="title-area clearfix">
        <h1>{% trans 'News & Events' %}</h1>
        <ul class="bredcrums clearfix">
            <li><a href="/">{% trans 'Home' %}</a></li>
            <li>{% trans 'News & Events' %}</li>
        </ul>
    </div>
    <div class="naranj-restaurants clearfix">
        {% for event in events %}
        <article class="post-container">
            <h4>{{ event.event_title }}</h4>
            <div class="post-detail right">
                <p>
		{{ event.event_desc|safe }}
                </p>
            </div>
            <div class="post-time left">
                <div class="date-time-cover clearfix">
                    <div class="date left">
                        <h5>{{ event.event_date_time|date:"d" }} <span>{{ event.event_date_time|date:"M" }}</span></h5>
                    </div>
                    <div class="time right">
                        <h5>{{ event.event_date_time|date:"g" }} <span>{{ event.event_date_time|date:"A" }}</span></h5>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </article>
        {% endfor %}
        {% if intial_news %}
        <section id ="news_detail" role="main" class="left">
            <h2>{% trans 'News' %}</h2>
            <div class="main-content clearfix">
                <article class="store left">
                    <h2>{{ intial_news.news_title }} <span>{{ intial_news.news_date_time|date:"d F Y"}}</span></h2>
                    <div class="items">
                        {% thumbnail intial_news.news_image '630x450' crop='center' as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ intial_news.news_title }}">
                        {% endthumbnail %}
                    </div>
                    <p>{{ intial_news.news_desc|safe }} </p>
                </article>
            </div>
        </section>        
        {% endif %}
        <div class="side-menu-store right">
            <div class="header clearfix">
                <div class="heading left"><h2>{% trans 'News Archive' %}</h2></div>
                <div class="year right">
                    <select class="dropdown">
                        {% for ne in  new_list %}
                        <option value="{{ ne}}" {% ifequal ne request.GET.year %} selected {% endifequal %}>{{ ne }}</option>
                        {% endfor %}
                    </select>                   
                </div>
            </div>
            {% if intial_news %}
            <div class="scroll-pane news-archive">
                {% for n in news %}
                <article class="clearfix">
                    <input type="hidden" value="{{ n.id }}" id="news_id"/>
                    <div class="post-time" onClick = "getNewsobj(this);">
                        {{ n.news_date_time|date:"d"}}<span>{{ n.news_date_time|date:"M"}}</span>
                    </div>                   
                    <div class="post-detail">
                        <p class="title"><a onClick = "getNews(this);">{{ n.news_title }}</a></p>
                        <input type="hidden" value="{{ n.id }}" id="news_id"/>
                        <p>{{ n.news_desc|safe|truncatewords:10 }}</p>
                    </div>
                </article>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
</div>
			{% endblock %}
