{% extends 'frontend_base.html' %}
{% load thumbnail i18n %}
{% load cms_tags sekizai_tags endless menu_tags %}
{% load generaltags %}
{% block title %}{% trans 'Search' %} {% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function(e) {
        $("#main-banner").flexslider({
                controlNav:true,
                directionNav:false,
                slideshow: true
              });
    });
    </script>
{% endblock %}
{% block content %}
<div class="page_width innerpages clearfix">

    <ul class="bread-crumb clearfix left">
        {% show_breadcrumb 0 "breadcrumb.html" %}
        <li>{% trans 'Search Results' %}</li>
    </ul>
    <h1 id="page-title">{% trans 'Search Results' %}</h1>
    <div class="items list-view clearfix">
        {% for result in page.object_list %}
        {% with result|search_include as fragment %}
        {% include fragment %}
        {% endwith %}
        {% empty %}
        <p>{% trans 'No Result Found For ' %}{{ request.GET.q }}</p>
        {% endfor %}
    </div>
    <div class="clearfix">
        <ul class="pagination clearfix right">
            {% if page.has_previous %}
                <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><</a></li>
            {% else %}
                <li style="display:none"><a href="#">1</a></li>
            {% endif %}

            {% for num in page.paginator.page_range %}
                {% ifequal num page.number %}
                    {% if page.object_list and page.paginator.page_range|length > 1 %}
                        <li  class="selected"><a href="#">{{ num }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="?q={{ query }}&amp;page={{ num }}">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if page.has_next %}
                <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">></a></li>
            {% else %}
                <li style="display:none"><a href="#">1</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
