.carousel-container {
  position:relative;
  width:100%;
  padding-top:0px;
}
.carousel-container img{max-width:100%;}
#carousel {
	height:380px;
	width:100%;
	position:relative;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
	position:absolute;
	top:-1000px;
	left:-1000px;
	cursor:pointer;
	box-shadow:0px 0px 20px rgba(0,0,0,0.35);
}
.carousel-feature img{border:5px solid #FFF; border-radius:5px; box-shadow:0px 0px 20px rgba(0,0,0,0.35); -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.35);}
.carousel-feature .carousel-caption {position:absolute; top:-135px; width:100%; text-align:center;}
.carousel-feature .carousel-caption h1{font-size:36px; color:#FFFFFF; font-weight:normal;}
.carousel-feature .carousel-caption p {margin:0px; font-size:18px; color:#FFFFFF;}

.tracker-summation-container {
	position:absolute;
	color:white;
	right:48px;
	top:230px;
	padding:3px;
	margin:3px;
	background-color:#000;
	display:none;
}
.tracker-individual-container {
	position:absolute;
	color:white;
	right:48px;
	top:210px;
	padding:0;
	margin:0;
	display:none !important;
}
.tracker-individual-container li {
	list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
	margin:0 3px;
	padding:0 3px;
	color:white;
	text-align:center;
	background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
	color:white;
	font-weight:bold;
	background-color:#000;
}
#carousel-left {
	position:absolute;
	width:19px; height:36px; background:url(../images/main-slider/arrows.png) 0 0px no-repeat;
	top:43%; left:0px; cursor:pointer;
}
#carousel-right {
	position:absolute;
	width:19px; height:36px; background:url(../images/main-slider/arrows.png) 0 -36px no-repeat;
	top:43%; right:0px; cursor:pointer;
}