{% load i18n %}
 <div class="item clearfix">
        {% if result.object.title %}<h3><a style="color: #666666 " href="{% url 'news_by_year' result.object.date_time.year %}">{{ result.object.title }}</a></h3>{% endif %}
        {% if result.object.position %}<h3><a style="color: #666666 " href="{{ result.object.get_absolute_url }}">{{ result.object.position }}</a></h3>{% endif %}
        {% if result.object.project %}<h3><a style="color: #666666 " href="{{ result.object.get_absolute_url }}">{{ result.object.project }}</a></h3>{% endif %}
        {% if result.object.requirement %}
            <p>
                {{ result.object.requirement|safe|truncatewords_html:"40" }}
            </p>
        {% endif %}

        {% if result.object.description %}
            <p class="detail">
                {{ result.object.description|safe|truncatewords_html:"40" }}
            </p>
        {% endif %}

        {% if result.object.brief %}
            <div class="detail">
                {{ result.object.brief|safe|truncatewords_html:"40" }}
            </div>
        {% endif %}

</div>

