{% load i18n thumbnail %}
{% for n in news %}
    <h3>{{ n.date|date:"F Y"}}</h3>
    <div class="accordion-contents">
      {% for item in n.news %}
        <div class="item clearfix">
            <div class="date left">
                <span>{{item.date_time|date:"j"}}</span>
                  <b>{{item.date_time|date:"N"}}</b>
              </div>
              <div class="item_exp right">

                <h4>{{item.title}}</h4>
                {% if item.image %}
                  <div class="img-effect new-img">
                      {% thumbnail item.image "270x174" crop="center" as im %}
                          <img src="{{ im.url }}" class="item_exp_img right" alt="{{ item.title }}" width="270" height="174" />
                      {% endthumbnail %}
                          <span class="img-layer"></span>
                      </div>

                {% endif %}

                  <p>{{item.description|safe}}</p>

              </div>
          </div>

      {% endfor %}
    </div>
  {% endfor %}
