{% load i18n thumbnail staticfiles generaltags %}
{% regroup news by created_at|date:"F Y" as news_list %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".accordion-wrapper > h3").unbind();
            $(".accordion-wrapper > h3").click(function(e){
                if($(this).hasClass("expand")==true){
                    $(this).next().slideUp();
                    $(this).removeClass("expand");
                    return;
                }
                $(this).parent().find(".accordion-contents").slideUp();
                $(this).parent().find("h3").removeClass("expand");

                $(this).next().slideToggle();
                $(this).toggleClass("expand");
            });
        });
    </script>
{% endblock %}
{% for new in news_list %}
    <h3>{{ new.grouper }}</h3>
    <div class="accordion-contents">
        {% for n in new.list %}
            <div class="item clearfix">

                <div class="date left">
                    <span>{{ n.created_at|date:'d' }}</span>
                    <b>{{ n.created_at|date:'b' }}</b>
                </div>
                <div class="item_exp right">
                    <h4>{{ n.title }}</h4>
                    <div class="img-effect new-img">
                        {% thumbnail n.image "270x174" crop="center" as im %}
                            <img src="{{ im.url }}" class="item_exp_img right" alt="{{ n.title }}" width="270" height="174" />
                        {% endthumbnail %}
                        <span class="img-layer"></span>
                    </div>
                    <p>{{ n.description }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
{% endfor %}
