*{margin:0px; padding:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; outline:none;}
body{font-family: 'Open Sans', sans-serif; font-size:14px; color: #666666; }

.left, .left-side, .pull-left{float:left;}
.right, .right-side, .pull-right{float:right;}
.clearfix{clear:both;}
.clearfix:after{clear:both; content:""; display:block;}
.aligncenter{text-align:center;}
p{font-size: 18px; padding-bottom: 30px;}
a img{border:0px;}
a{text-decoration:none; color:#ffffff;}
a:hover{color:#b9baba;}
ul li{list-style:none; padding:0px; margin:0px;}
h1{color:#0a2a3b; font-size:30px; font-family:'Michroma', sans-serif;}
.bodybg{position:absolute; z-index:-1; height:100%; opacity: 0.4;}
.inner_wrapper{position:relative; z-index:0;}
#container{width:100%; position:relative; background: url(../images/body_bg1.png) no-repeat; background-position:0px 300px;}
.page_width{width:1200px; margin:auto; padding-bottom: 40px;}
header{margin-bottom:30px; background-image:url(../images/header_bg.jpg); background-position:top left; background-repeat:no-repeat; height:535px;}
.bluebg{color:#ffffff; background-color:#0a2a3b;}
.header-top{padding-top:20px; padding-bottom:20px;}
.header-top #logo{width:250px; float:left;}
.header-top .search{float:right;}
.search_area .searchbox{width:192px; float:right; position:relative;}
.search_area .searchbox input[type="text"]{border-radius:25px; width:100%; background-color:white; padding-left:10px; border:none; padding: 5px 35px 5px 10px;}
.search_area .searchbox button{background:none; border:none; padding-top:4px; cursor:pointer; position:absolute; top:0px; right:8px;}
.lang{float:left; padding-right:10px; font-size:14px;}
ul.toplinks{margin:0px; padding:0px; margin-top:15px;}
ul.toplinks li{float:left; padding-right:5px; color:#ffffff;}
ul.toplinks li:last-child{padding-right:0px;}

.input{width: 100%; border: 1px solid #0a2a3b; background: transparent; border-radius:20px; padding: 6px 20px;}
input[type="file"]{visibility: hidden;}

.btn{border: none; outline: none; background: #0a2a3b; border-radius:20px; color:#fff; font-family: 'Michroma'; padding: 7px 20px; cursor:pointer;}
.browse-btn{position: relative;}
.browse-btn input.btn{position: absolute; top: 1px; right: 0; padding: 5px 28px;}
input.btn:hover{ background:#8b9ca4;}

.text-center{text-align: center;}
.text-right{text-align:right;}
.text-left{text-align: left;}


.page_width.innerpages {margin-top:22px;}

#menu{padding-bottom:30px;}

.signature{float:right;}
.signature .name{font-weight:300; font-size:18px; color:#0a2a3b; text-align:right;}
.signature .name span{font-weight:700; font-size:17px; color:#0a2a3b; display:block;}

footer{line-height: 132px;}
footer p{padding-bottom: 0;}
footer .page_width{padding-bottom: 0;}
footer .social_icons p{font-size:12px; text-align:center; line-height: 24px;}
footer .social_icons{padding-top: 35px;}
footer .social_icons ul{margin-top:5px;}
footer .social_icons li{float:left; padding-right:10px; }
footer .social_icons li .twt{ background:url(../images/twt-spride.png) left top no-repeat; width:42px ; height:42px; display:block;}
footer .social_icons li .twt:hover{ background-position: 0 -42px;}
footer .social_icons li  .linkedin{ background:url(../images/linkedin-spride.png) left top no-repeat; width:42px ; height:42px; display:block;}
footer .social_icons li  .linkedin:hover{  background-position: 0 -42px;}
footer .social_icons li:last-child{padding-right:0px;}

#main-banner{position:relative; width:1068px; float:right;}
#menu{position:relative;}
.main-menu{width:252px; position:absolute; z-index:10;}
.main-menu ul li{width:100%; margin-bottom:23px; font-family:'Michroma', sans-serif; font-size:15px;}
.main-menu ul li:nth-child(1){background:url(../images/menu/item_1.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(2){background:url(../images/menu/item_2.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(3){background:url(../images/menu/item_3.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(4){background:url(../images/menu/item_4.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(5){background:url(../images/menu/item_5.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(6){background:url(../images/menu/item_6.png) top left no-repeat; height:38px;}
.main-menu ul li:nth-child(7){background:url(../images/menu/item_7.png) top left no-repeat; height:38px;}
.main-menu ul li:hover{background-position:bottom left;}
.main-menu ul li.selected{background-position:bottom left;}
.main-menu ul li.selected a{color: #0a2b3c;}
.main-menu ul li:hover a{color:#032a3a;}
.main-menu ul li a{display:block; padding:8px 10px 8px 20px; }
.main-menu ul li a:hover{color:#032a3a;}
.slider-caption {
font-size: 40px;
width: 100%; font-family:'Michroma', sans-serif; position: absolute; z-index: 9999; top: 50px; color: #ffffff; left: 0px; text-align: center; color:#0a2a3b;
}
.strip1{width:180px; height:464px; position:absolute; top:0px; left:-119px; z-index:5;}

.bread-crumb {margin-bottom: 10px;}
.bread-crumb li{ float: left;}
.bread-crumb li a{color:#989898; background: url(../images/crumb.png)right center no-repeat; padding-right: 14px; margin-right: 5px;}
.bread-crumb li:last-child a{margin-right: 0; background: none; color: #022a3a; text-decoration: underline;}
.bread-crumb li:hover a{color: #022a3a; text-decoration: underline;}

.form-style.w505{width: 505px;}
.form-style li{margin-bottom: 10px;}
.form-style li:nth-child(odd){width: 25%; font-size: 18px; line-height: 33px; float: left;}
.form-style li:nth-child(even){width: 75%; float: right;}


.table-view{display: table;}
.table-view .table-head{display:table-header-group; background: #e1e6e8;}
.table-view .table-body{display: table-row-group;}
.table-view .table-row{display: table-row;}
.table-view .td{display: table-cell; padding-left: 15px; padding-top: 15px; padding-bottom: 15px; border-bottom: 4px solid #e1e6e8;}
.table-view .td:nth-child(1){width: 99px;}
.table-view .td:nth-child(2){width: 230px; font-size: 18px; color:}
.table-view .td:nth-child(2) small{font-size: 14px; display: block; color: #022a3a; margin-top: 5px;}
.table-view .td:nth-child(3){width: 570px;}
.table-view .td:nth-child(3) ul.requirement li{margin-bottom: 10px; background:url(../images/bullets.png)left 6px no-repeat; padding-left: 15px;}
.table-view .td:nth-child(4){width: 268px; font-size: 18px; position: relative;}
.table-view .td:nth-child(4) input.btn{position: absolute; bottom: 0; right: 0; margin-bottom: 25px;}

.project-detail-table .td{padding-left:20px;}
.table-view .td.th{height: 50px; vertical-align: middle; color: #636466; font-size: 18px; border-right: 1px solid #fff;  padding-bottom:0; padding-top:0; }
/*.table-view .td.th:nth-child(1){padding-left: 20px;}*/
.career-table{padding-top: 30px; padding-bottom: 50px;}

.page_width #page-title{display: inline-block; width: 100%; text-align:center; padding-bottom: 20px;}
/*Sajid*/
.bread_crumb_main ul.bread-crumb{ display:inline-block;}
.item_list .item{width:270px; margin:0 39px 0 0; position:relative;}
.item_list .item .item_bdr{position:absolute; background:#0a2a3b; height:6px; top:1px; width:100%;}
.item_list .item:nth-child(4n){margin-right:0;}


h4{font-size:16px; font-family:'Michroma', sans-serif; color:#022a3a; padding:0 0 30px 0; }
.bread_crumb_main ul.bread-crumb{ display:inline-block;}
.item_list .item{width:270px; margin:0 39px 0 0; position:relative;border-top:6px solid #0a2a3b; min-height:270px;}
.item_list .item:nth-child(4n){margin-right:0;}
/*.item_list .item  a{color:#636466; font-size:18px; display:inline-block; text-align:center;}
.item_list .item > p{height:45px; vertical-align:middle; display:table-cell; padding:0 ;}*/
.item_list .item  a{color:#636466; font-size:18px;text-align:center;height:45px; vertical-align:middle;display:table-cell;}
.item_list .item > p{  padding:0 ; text-align:center;display: table; width:100%;}

.services h5{font-size:15px; font-family:'Michroma', sans-serif; color:#022a3a; padding:10px 0;}
.services ul li{background:url(../images/bullets.png) left center no-repeat; padding-left:22px; margin:10px 0;font-size:18px;}

.addresses{width:50%;padding-right:45px; position: relative;}
.feedback.left{background: url(../images/seprater-line.png)left top repeat-y;}


.feedback{width:50%;padding-left:45px;background:url(../images/address_bg.png) left top repeat-y;}
.feedback p{word-wrap: break-word;}

/*Contect*/
.career ul.contect_us{width:100%;}
ul.contect_us li{float:left; margin:10px 0;}
ul.contect_us li:nth-child(odd){width:165px;}
ul.contect_us li:nth-child(even){width:375px;}
ul.contect_us li input[type="text"]{width:100%; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;border:1px solid #0a2a3b; padding:6px 8px; background:none;}
.form_text{width:100%; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px;border:1px solid #0a2a3b; padding:6px 8px; background:none;}

ul.contect_us li textarea{resize:none;  width:100%; border-radius:25px; border:1px solid #0a2a3b; padding:6px 8px; height:165px; background:none;}

.career06 ul > li{width:50%; float:left;}
.addresses .address ul{ padding:14px 0 ;}
.addresses .address ul li{font-size:18px; margin:0 0 15px 0;}
.addresses .address ul li a{font-size:18px;color:#0a2a3b;}
.border_radius5{border-radius:25px;}

.contect_us_half{width:50%;}
/*Accordion*/

.accordion-wrapper > .accordion-contents{padding-bottom:15px; display:none;}
.accordion-wrapper > .accordion-contents.active{display:block;}
.accordion-wrapper > h3{margin-bottom:17px; padding:6px 45px; background:url(../images/icons/plus-icon.png) 8px 11px no-repeat; background-color:rgba(236 , 238 , 240 , 0.5); color:#543018; font-size:16px; font-family:Michroma;  border-top:solid 4px #092e40; cursor:pointer;}
.accordion-wrapper > .accordion-contents:last-child{padding-top:15px;}
.accordion-wrapper > h3.expand{background:url(../images/icons/minus-icon.png) 8px 11px no-repeat; background-color:rgba(236 , 238 , 240 , 0.5);}

/*End Accordion*/
.date{background:#0a2a3b; width:70px;}
.date span{display:block; text-align:center; font-size:18px; font-family:Michroma; color:#FFF; padding:20px 0 5px 0;}
.date b{display:block; text-align:center; font-size:18px; font-family:Michroma; color:#FFF; padding:5px 0 20px 0;}
.item_exp{width:1070px;}
.item_exp h4{ color:#022a3a; font-size:16px; padding-bottom:20px;}
.item_exp p{color:#636466; font-size:18px;}
.item_exp_img{border-top:6px solid #0a2a3b; margin-left:30px;}

/*9man*/
.searchbox{position: relative;}
.searchbox small#end-search{position: absolute; top:0; right: 0; margin-right: 35px; margin-top: 4px; display: none;}

#bread-drop{float: right;}

.table-view.project-detail-table {padding-bottom: 60px; width:100%;}
.table-view.project-detail-table .td:nth-child(1){width: 248px;}
.table-view.project-detail-table .td:nth-child(2){width: 922px;}
.table-view.project-detail-table .td{color:#636466; font-size:18px; border-right: 0; border-bottom: 0; height:60px; vertical-align: middle; padding-top: 0; padding-bottom: 0;}
.table-view.project-detail-table .table-head{background: rgba(225, 230, 232, 0.5);}


.header-nav{width:969px; padding-top:16px; min-height:106px; background: transparent !important; position:absolute; right:-4px; bottom:-63px; z-index:11;}
.header-nav.one-row{padding-top:30px;}
.header-nav .slider{width:880px; margin:auto;}
.header-nav .row{display:table-row; width:100%;}
.header-nav .row.middle div{padding:8px 0px}
.header-nav .row div{display:table-cell; vertical-align:middle; text-align:center; padding:0px 30px; color:#8c9ba3; font-size:12px; font-family:'Michroma', sans-serif;}

.header-nav .row div a{color:#8c9ba3; display:block;}
.header-nav .row div a.active{color: #fff;}
.header-nav .row div a:hover{color:#FFFFFF;}
.header-nav .row div.devider{width:7px !important; height:26px; padding:0px; /*background:url(../images/nav-devider.png) left center no-repeat;*/ position:relative;}
.header-nav .row div.devider img{position:absolute; top:0px; left:0px;}
.header-nav div.row:last-child div.devider{width:30px; background-position:7px center;}
.header-nav div.row:last-child div.devider img{left:6px;}
.header-nav.one-row .row div.devider img{top:12px;}


.searchbox .show{display:block !important;}

.item_list .item > a{position: relative !important; display: block; height: 174px;}
span.img-layer{display:none; background:rgba(0, 0, 0, 0.15); width: 100%; height: 100%; top: 0; left: 0; position: absolute; }
.item_list .item > a:hover > span.img-layer{display: block;}

.img-effect{position: relative !important; display: block;}
.img-effect:hover > span.img-layer{display: block;}

.accordion-wrapper > h3:hover{background-color: rgba(236, 238, 240, 1); color: #0a2a3b;}

/*#container.newscontiner{background: url(../images/body_g2.png)no-repeat;}*/

ul.contect_us li textarea.bdr-none{border-radius: 0;}
.input{
	width: 100%;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border: 1px solid #0a2a3b;
padding: 6px 8px;
background: none;
}

.new-img{width: 270px; float: right;margin-left:30px;}

label.error{color: red;}
iframe[src="about:blank"]{display:none;}

.padding_nav{padding-top:25px;}
.padding_nav .flex-direction-nav{top:60% !important;}


@media screen and (max-width: 500px) and(min-width:240px){
	#container{width:1210px !important; background: none; background: blue;}
	

}
@media screen and (max-width:1100px) and (min-width: 650px){
	#container{min-width:1250px;}
	
}
.height0{ padding-bottom:0px;}

#container.device-W{min-width:1140px !important; max-width: 1140px !important; width: 1140px !important;  border:1px solid #000; overflow:hidden;}
#container.device-W .page_width{width: 1125px;}
#container.device-W .strip1{left:-30px !important;}
#container.device-W  .item_list .item{margin-right: 10px;}
#container.device-W .header-nav .row div{padding:0 20px;}
#container.device-W .header-nav .slider{width:95%;}
#container.device-W .header-nav{width:875px;}
#container.device-W .slides img{max-width:100%;}
.device-W .accordion-wrapper{width: 1125px !important;}
.device-W .career{display:block;}

