{% extends 'frontend_base.html' %}
{% load generaltags thumbnail generaltags i18n %}
{% block title %}{% trans '404 error page' %} {% endblock %}
{% block page_banner %}
<section class="inner-banner"><img src="/static/images/inner-banners/img1.jpg" alt=""></section>
{% endblock%}
{% block content %}
<section id="contents">
    <div class="page-width">
        <div class="inner-contents-wrapper">
            <div class="title-area clearfix">
                <h1>{% trans '404 Error Page' %}</h1>
                <ul class="bredcrums clearfix">
                    <li><a href="/">{% trans 'Home' %}</a></li>
                    <li>{% trans '404 Error Page' %}</li>
                </ul>
            </div>
            <div class="naranj-restaurants clearfix">
                <h1 style="text-align:center;"> {% trans '404 Error Page Found' %}</h1><br><br><br><br>
                <div class="sitemap-container clearfix">
                    <article class="sitemap-column left">
                        <h4>About Us</h4>
                        <ul>
                            {% get_flatpage 'about' as aboutus_pages %}
                            {% for page in aboutus_pages %}
                            <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </article>
                    <article class="sitemap-column">
                        {% cms_navigation as cms_pages %}
                        {% for page in cms_pages %} <h4>{{ page.get_title }}</h4>
                        <ul>{% for child in page.children.all %}
                            <li>{{ child.get_title }}
                                <ul>{% for child1 in child.children.all %}
                                    <li><a href="{{ child1.get_absolute_url }}">{{ child1.get_title }}</a>
                                        {% if child1.children.all %}
                                        <ul>{% for child2 in child1.children.all %}
                                            <li> <a href="{{ child2.get_absolute_url }}">{{ child2.get_title }}</a></li>

                                            {% endfor %}
                                        </ul>{% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>{% endfor %}

                        </ul>{% endfor %}

                    </article>
                    <article class="sitemap-column">
                        <h4><a href="{% url 'events' %}">{% trans 'News & Events' %}</a></h4>
                    </article>
                    <article class="sitemap-column">
                        <h4><a href="{% url 'contactus' %}">{% trans 'Contact Us' %}</a></h4>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
		{% endblock %}