<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>500 Error Page</title>
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/lightbox.css" media="screen"/>
        <link rel="stylesheet" href="/static/css/developer.css" />
        <link rel="stylesheet" href="/static/ar/css/feature-carousel.css" />

        <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jcarousellite.js"></script>
        <script type="text/javascript" src="/static/js/lightbox-2.6.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </head>
    <body>
        <div id="container">
		{% include 'common/header.html' %}
            <section id="contents">
                <div class="page-width">
                    <div class="inner-contents-wrapper">
                        <div class="title-area clearfix">
                            <h1>500 Error Page</h1>
                            <ul class="bredcrums clearfix">
                                <li><a href="/">Home</a></li>
                                <li>500 Error Page</li>
                            </ul>
                        </div>
                        <div class="naranj-restaurants clearfix">


                            <h1 style="text-align:center;"> 500 Error Page Found</h1>

                        </div>
                    </div>
                </div>
            </section>
		{% include 'common/footer.html' %}
        </div>
    </body>
</html>
