{% extends "frontend_base.html" %}
{% load i18n thumbnail staticfiles menu_tags generaltags cms_tags %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
  $(document).ready(function(e) {
    $(".header-nav .slider").flexslider({animation: "slide", controlNav: false, slideshow:false, animationSpeed:1500,});
  });
</script>
{% endblock %}
{% block header %}
{% get_banners as banners %}
<header class="bluebg">
    <div class="page_width">
      <div class="header-top clearfix">
        <div id="logo"> <a href="/"><img src={% static "en/images/logo.png" %} alt="img" /></a> </div>
        <div class="search">
          <div class="search_area clearfix"> <a href="{{request.path|get_other_language_path}}" class="lang">{% if LANGUAGE_CODE == 'ar' %}EN{% else %}عربي{% endif %}</a>
            <div class="searchbox">
              <input type="text" name="search" placeholder="Search..." />
              <button type="submit"><img src={% static "en/images/search_icon.jpg" %} alt="img" /></button>
              <small id="end-search"><a href="javascript:void(0);"><img src={% static "en/images/crossout.ico" %} alt=""></a></small>
            </div>
          </div>
          <div class="links">
            <ul class="toplinks clearfix">
              <li><a href="#">Sitemap</a></li>
              <li class="sep">|</li>
              <li><a href="#">Email Login</a></li>
              <li class="sep">|</li>
              <li><a href="#">FTP Login</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="menu" class="clearfix">

        {% show_menu 0 100 100 100  "menu/menu_aboutus.html" %}

      <div id="main-banner">
      <div class="strip1">
      <img src={% static "en/images/strip3.png" %} alt="img" />
      </div>
      <ul class="slides">
        {% for banner in banners %}
        {% if forloop.first %}
            <li>
              <a href="{{ banner.link }}">
                {% thumbnail banner.image "1072x321" crop="center" as im %}
                  <img src="{{ im.url }}"  alt="{{ banner.title }}" width="{{ im.width }}" height="{{ im.heigth }}" />
                {% endthumbnail %}
                <div class="slider-caption"><div class="page-width">{{ banner.title }}</div></div>
              </a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}
<div class="page_width innerpages clearfix">
    <ul class="bread-crumb clearfix left">
        {% show_breadcrumb 0 "breadcrumb.html" %}
    </ul>
    {% placeholder "flatpage" %}
 </div>
{% endblock %}
