<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>KUD | {% block title %}{% endblock %}</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <link rel="stylesheet" href="/static/css/developer.css" />
          {% if LANGUAGE_BIDI %}
          <style>#navigation ul li .custdd-menu ul.bullets-list li {
text-decoration: none;
background: url(/static/images/icons/bullet.jpg) right no-repeat;
padding-right: 13px;
font-size: 14px;
margin-bottom: 5px;
}
          </style>
          <link href="/static/ar/css/styles.css" rel="stylesheet" type="text/css">
          <link href="/static/ar/css/ar.css" rel="stylesheet" type="text/css">
          <link rel="stylesheet" href="/static/ar/css/feature-carousel.css" />
          {% else %}
          <style>
#navigation ul li .custdd-menu ul.bullets-list li {
text-decoration: none;
background: url(/static/images/icons/bullet.jpg) 0px 8px no-repeat;
padding-left: 13px;
font-size: 14px;
margin-bottom: 5px;
}
          </style>
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/feature-carousel.css" />
        {% endif %}
        {% block extra_css %}
        {% endblock %}
        {% render_block "css" %}
        {% render_block "js" %}
        <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>

        {% block extra_js %}
        {% endblock %}
    </head>
    <body>{% cms_toolbar %}
        <div id="container">
            {% include 'common/header.html' %}
            {% block page_banner %}
            {% endblock %}
            <section id="contents">
                <div class="page-width">
                    {% block content %}

                    {% endblock %}

                </div>

            </section>
            {% include 'common/footer.html' %}
        </div>
    </body>
</html>
