{% extends "frontend_base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.featureCarousel.js"></script>
 <script type="text/javascript" src="/static/js/jcarousellite.js"></script>
 <script type="text/javascript">
            $(document).ready(function() {
                var carousel = $("#carousel").featureCarousel();
                $(".latest-news .animation").jCarouselLite({
                    btnNext: ".latest-news .top-arrow",
                    btnPrev: ".latest-news .bottom-arrow",
                    visible: 3,
                    vertical: true,
                });
            });
        </script>
<script>


           function goToDetail(current){
                window.location.href = "/news_events/events/.?sitco_news_id=" + current;


            }

</script>
{% endblock %}
{% block content %}
<div id="banner">
    <h1>{{ home_contents.main_itle }}</h1>
    <p>{{ home_contents.sub_title }}</p>
    <div class="carousel-container">
        <div id="carousel">
            {% for banner in home_contents.home_banner.all %}
            <div class="carousel-feature">
                <a href="{% if banner.banner_link %}{{ banner.banner_link }}{% else %}{% endif %}" target="_blank">
                    <!--{% thumbnail banner.banner_image '583x334' as thumb %}-->
                    <img class="carousel-image" src="{{ banner.banner_image.url }}" alt="{{ banner.banner_title }}">
                   <!-- {% endthumbnail %}-->
                </a>
            </div>
            {% endfor %}            
        </div>
        <div id="carousel-left"></div>
        <div id="carousel-right"></div>
    </div>
</div>
<div class="homepage-sections clearfix">
    <aside class="ceo-message transparent-box clearfix">
        <h1>{{ home_contents.ceo_title }}</h1>
        {% if LANGUAGE_BIDI %}
        <div class="ceo-images clearfix">
            {% for ceo in image_list %}
            <img src="{{ ceo.ceo_image.url }}" alt="">
            {% endfor %}
        </div>
        {% else %}
        <div class="ceo-images clearfix">
            {% for ceo in home_contents.ceo_images.all %}
            {% thumbnail ceo.ceo_image '87x111' crop='center' as thumb %}
            <img src="{{ thumb.url }}" alt="Ceo Images">
            {% endthumbnail %}
            {% endfor %}
        </div>
        {% endif %}
        <p>
            {{ home_contents.ceo_desc|safe }}
        </p>
    </aside>
    <aside class="latest-news">
        <div class="top-arrow"></div>
        <div class="bottom-arrow"></div>
        <h2>{% trans 'Latest News' %}</h2>
        <div class="latest-news-carousel">
            <div class="animation">
                <ul>
                     {% for n in news %}
                    <li>
                        <div class="item clearfix">
                            <a href ='javascript:goToDetail({{ n.id }})' class="left"><span>{{ n.news_date_time|date:"d"}}</span>{{ n.news_date_time|date:"M"}}</a>                            
                            <div class="right">
                                <p class="title"><a href='javascript:goToDetail({{ n.id }})'>{{ n.news_title }}</a></p>
                                <p>{{ n.news_desc|safe|truncatewords:13 }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
</div>
{% endblock %}






