{% extends "frontend_base.html" %}
{% load i18n thumbnail staticfiles cms_tags %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function(e) {
        $("#main-banner").flexslider({
                controlNav:true,
                directionNav:false,
                slideshow: true
              });
    });
    </script>
{% endblock %}
{% block content %}
<div class="contents">
    <div class="page_width homepage clearfix">
      {% placeholder "Home page" %}
    </div>
</div>
{% endblock %}






