{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block content %}
    <img src="{{ profile.profile_photo }}" alt="avatar">
    <h2>Congratuations {{ user.username }}, you are logined</h2>
    <input class="btn btn-primary btn-medium" type="button" value="Logout" onclick="window.location.href='{% url 'logout' %}'">
    <input class="btn btn-primary btn-medium" type="button"
           value="Change" onclick="window.location.href='{% url 'change_user' pk=user.id %}'">
{% endblock %}