{% load menu_tags %}
<ul>
{% if children %}
    {% for page in children %}
      <li><a href="{{ page.get_absolute_url }}" style="color:#666666">{{ page.get_menu_title }}</a></li>
      {% if page.children %}
          <ul style="padding-left: 20px;">
          {% for pg in page.children %}
                <li>
                    <a href="{{ pg.get_absolute_url }}" style="color:#666666">{{ pg.get_menu_title }}</a>
                </li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}
{% endif %}
</ul>
