{% extends "frontend_base.html" %}
{% load i18n thumbnail staticfiles cms_tags menu_tags %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function(e) {
        $("#main-banner").flexslider({
                controlNav:true,
                directionNav:false,
                slideshow: true
              });
    });
    </script>
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}
<div class="page_width innerpages clearfix">
    <ul class="bread-crumb clearfix left">
        {% show_breadcrumb 0 "breadcrumb.html" %}
        <li>{% trans "Sitemap" %}</li>
      </ul>
    <h1 id="page-title">{% trans "Sitemap" %}</h1>
    {% show_menu 0 100 100 100  "menu/sitemap_menu.html" %}
</div>
{% endblock %}
