{% extends 'frontend_base.html' %}
{% load i18n thumbnail staticfiles generaltags menu_tags  %}
{% block title %}{{ project_detail.title }}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function(e) {
		$("#main-banner").flexslider({
            controlNav:false,
            itemWidth: 357,
            animation: "slide",
            animationLoop: false
        });
		$(".header-nav .slider").flexslider({animation: "slide", controlNav: false, slideshow:false, animationSpeed:1500});
	});
    </script>
{% endblock %}
{% block extra_css %}
    <link href={% static "en/css/dropdown.css" %} rel="stylesheet" type="text/css" />
{% endblock %}
{% block header %}
    <header class="bluebg">
        <div class="page_width">
            <div class="header-top clearfix">
                <div id="logo"> <a href="/"><img src={% static "en/images/logo.png" %} alt="img" /></a> </div>
                <div class="search">
                    <div class="search_area clearfix"> <a href="{{request.path|get_other_language_path}}" class="lang">{% if LANGUAGE_CODE == 'ar' %}EN{% else %}عربي{% endif %}</a>
                        <div class="searchbox">
                            <form action="/search/" method="get" id="search_form" name="search_form">
                                <input type="text" name="q" placeholder="Search..." />
                                <button type="submit"><img src={% static "en/images/search_icon.jpg" %} alt="img" /></button>
                                <small id="end-search"><a href="javascript:void(0);"><img src={% static "en/images/crossout.ico" %} alt=""></a></small>
                            </form>
                        </div>
                    </div>
                    <div class="links">
                        <ul class="toplinks clearfix">
                            <li><a href="/sitemap/">{% trans "Sitemap" %}</a></li>
                            {% get_top_menu as top_menu %}
                            {% for m in top_menu %}
                                <li class="sep">|</li>
                                <li><a href="{{ m.url }}">{{m.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="menu" class="clearfix">
                <div class="main-menu">
                    <ul class="clearfix">
                        {% show_menu 0 100 100 100  "menu/menu.html" %}
                    </ul>
                </div>
                <div class="header-nav padding_nav">
                    <div class="slider">
                        <ul class="slides">
                            {% for list in submenu_list %}
                                {% if forloop.counter0|divisibleby:'2' %}
                                    <li>
                                    <div class="row clearfix">

                                {% else %}
                                    <div class="row middle"><div></div></div>
                                    <div class="row">
                                {% endif %}
                            {% for item in list %}
                                <div><a href={{ item.get_absolute_url }} {% if category.title == item.title %}class="active"{% endif %}>{{ item.title }}</a></div>
                                {% if not forloop.last %}
                                    <div class="devider"><img src={% static "en/images/nav-devider.png"%} alt=""></div>
                                {% endif %}
                            {% endfor %}
                            </div>

                            {% if not forloop.counter0|divisibleby:'2' or forloop.last %}
                                </li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="main-banner" class="links-carousel">
                    <div class="strip1">
                        <img src={% static "en/images/strip3.png" %} alt="img" />
                    </div>
                    <ul class="slides">
                        {% for img in project_detail.images.all %}
                            <li>
                                {% thumbnail img.image "1072x321" crop="center" as im %}
                                    <img src="{{ im.url }}"  alt="{{ info.title }}" width="1072" height="321" />
                                {% endthumbnail %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <div class="page_width innerpages clearfix">
        <ul class="bread-crumb clearfix">
            {% show_breadcrumb 0 "breadcrumb.html" %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            </li>
            <li>
                {{ project_detail.title }}
            </li>
        </ul>
        <div id="bread-drop">
            <select name="" class="dropdown" data-settings='{"cutOff":10}' onchange='document.location.href=this.value'>
                {% for proj in projects %}
                    <option {% if proj.title == project_detail.title %}selected{% endif %} value="{{ proj.get_absolute_url }}">{{ proj.title }}</option>
                {% endfor %}
            </select>
        </div>
        <h1 id="page-title">{{ project_detail.title }}</h1>
        <div class="table-view project-detail-table">
            <div class="table-head">
                <div class="table-row">
                    <div class="td th">Project</div>
                    <div class="td th">{{ project_detail.title }}</div>
                </div>
            </div>
            <div class="table-body">
                <div class="table-row">
                    <div class="td">Client</div>
                    <div class="td">{{ project_detail.client }}</div>
                </div>
            </div>
            <div class="table-head">
                <div class="table-row">
                    <div class="td th">Location</div>
                    <div class="td th">{{ project_detail.location }}</div>
                </div>
            </div>
            <div class="table-body">
                <div class="table-row">
                    <div class="td">Scope</div>
                    <div class="td">{{ project_detail.scope }}</div>
                </div>
            </div>
            <div class="table-head">
                <div class="table-row">
                    <div class="td th">Description</div>
                    <div class="td th">{{ project_detail.description }}</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn" value="Back">
        </div>
    </div>
{% endblock %}