<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email</title>
<style>@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700,800,300);</style>
</head>
<body style="font: normal 14px 'Open Sans', tahoma, sans-serif; -webkit-font-smoothing: antialiased; margin:0;">
<table cellpadding="0" cellspacing="0" border="0" width="850" align="center">
<tr>
<td style="background-color: #000000; color: #FFFFFF; height: 75px; position:relative">
<img src="{{ site }}/static/images/logo.png" style="position:absolute; top:0; left:50px;" />
</td>
</tr>
<tr>
<td style="font: 700 17px 'Open Sans', tahoma, sans-serif;">
<p style="color:#000000;"><center><u>Contact Details</u></center></p>

</td>
</tr>
<tr>
<td>
      <p> Name : {{ name }}</p> <br>
      <p> Email ID : {{ email }}</p> <br>
      <p> Telephone : {{ telephone}}</p> <br>
      <p> Contacted Date : {{ date }}</p> <br>
      <p> Enquiry :   {{ enquiry }}</p> <br>
      <p></p> 
  </td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td style="background-color: #000000; color: #FFFFFF; height: 75px;">
&nbsp;
</td>
</tr>
</table>
</body>
</html>