{% extends "frontend_base.html" %}
{% load thumbnail i18n l10n staticfiles menu_tags cms_tags sekizai_tags generaltags %}
{% block title %}{% trans 'Contact Us' %}{% endblock %}

{% block extra_js %}
    <script src={% static "en/js/validate.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function(e) {

          $("#contact-form").validate({
                 rules: {
                    email: {
                         required: true,
                         email: true
                     },
             phone:
             {
               required: true,
               number: true
             } ,
             name:
             {
               required: true,
               text: true
             } ,
              company:
             {
               required: true,
               text: true
             } ,
              subject:
             {
               required: true,
               text: true
             } ,
              detail:
             {
               required: true,
               text: true
             },
              applied:
             {
               required: true,
               text: true
             }


                 },
                 messages: {
                     name: "Please enter your Name",
                     phone: "Please enter Phone Number",
                     date: "Please select Date",
                     message: "Please enter Mesage",
                     email: "Please enter a valid email address",
                     subject: "Please enter Subject",
                     detail: "Please enter Detail",
                     company: "Please enter Company Name",
                     applied: "Please enter Applied Position",

                 },
                 submitHandler: function(form) {
                     form.submit();
                 }
             });
        });
    </script>
{% endblock %}

{% block header %}
    <header class="bluebg">
    <div class="page_width">
      <div class="header-top clearfix">
        <div id="logo"> <a href="/"><img src={% static "en/images/logo.png" %} alt="img" /></a> </div>
        <div class="search">
          <div class="search_area clearfix"> <a href="{{request.path|get_other_language_path}}" class="lang">{% if LANGUAGE_CODE == 'ar' %}EN{% else %}عربي{% endif %}</a>
            <div class="searchbox">
              <input type="text" name="search" placeholder="Search..." />
              <button type="submit"><img src={% static "en/images/search_icon.jpg" %} alt="img" /></button>
              <small id="end-search"><a href="javascript:void(0);"><img src={% static "en/images/crossout.ico" %} alt=""></a></small>
            </div>
          </div>
          <div class="links">
            <ul class="toplinks clearfix">
              <li><a href="#">Sitemap</a></li>
              <li class="sep">|</li>
              <li><a href="#">Email Login</a></li>
              <li class="sep">|</li>
              <li><a href="#">FTP Login</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="menu" class="clearfix">
      <div class="main-menu">
      <ul class="clearfix">
          {% show_menu 0 100 100 100  "menu/menu.html" %}
      </ul>
      </div>
      <div id="main-banner">
      <div class="strip1">
      <img src={% static "en/images/strip3.png" %} alt="img" />
      </div>
        <ul class="slides">
            <li>
                <iframe src="https://maps.google.com/maps?q={{ google_cordinates.lati|unlocalize}},{{ google_cordinates.long|unlocalize}}&hl=es;z=14&amp;output=embed" width="1072px" height="405px" frameborder="0" style="border:0"></iframe>
            </li>
        </ul>
      </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}
<div class="page_width innerpages clearfix">
    <ul class="bread-crumb clearfix left">
      {% show_breadcrumb 0 "breadcrumb.html" %}
    </ul>
     <h1 id="page-title">{% trans "Contact Us" %}</h1>
     <div class="contect clearfix">
            <div class="addresses left">
                {% placeholder "contactaddress" %}
            </div>
            <div class="feedback left">
                <h4>{% trans "Feedback Form" %}</h4>
                <p>{% trans "Let us know how we can serve you more efficiently. Your response is very crucial to us." %}</p>
                <form id="contact-form" method="post" action=".">
                  {% csrf_token %}
                  <ul class="contect_us left">
                              <li>{% trans "Name" %}</li>
                              <li>
                                  {{ form.name }}
                                  {{ form.name.errors }}
                              </li>
                              <li>{% trans "Company Name" %}</li>
                              <li>
                                  {{ form.company_name }}
                                  {{ form.company_name.errors }}
                              </li>
                              <li>{% trans "Email" %}</li>
                              <li>
                                  {{ form.email }}
                                  {{ form.email.errors }}
                              </li>
                              <li>{% trans "Telephone" %}</li>
                              <li>
                                  {{ form.telephone }}
                                  {{ form.telephone.errors }}
                              </li>
                              <li>{% trans "Subject" %}</li>
                              <li>
                                  {{ form.subject }}
                                  {{ form.subject.errors }}
                              </li>
                              <li>{% trans "Details" %}</li>
                              <li>
                                  {{ form.details }}
                                  {{ form.details.errors }}
                              </li>
                              <li></li>
                              <li>
                                {{ form.captcha }}
                                {{ form.captcha.errors }}
                              </li>
                              <li></li>
                              <li><input type="submit" name="contact_submit" class="btn" value="{% trans 'Submit' %}"></li>
                                     </ul>
                </form>
            </div>
     </div>

 </div>
{% endblock %}
{% comment %}

<div class="inner-contents-wrapper">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="title-area clearfix">
        <h1>{% trans 'Contact Us' %}</h1>
        <ul class="bredcrums clearfix">
            <li><a href="/">{% trans 'Home' %}</a></li>
            <li>{% trans 'Contact Us' %}</li>
        </ul>
    </div>
    <div class="naranj-restaurants clearfix">
        <div class="contact right">
            <div class="map">
               <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27826.173746790442!2d{{ google_cordinates.long }}!3d{{ google_cordinates.lati }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf7621ccb0f409%3A0xd67b8473125207f7!2sAl-Salmiya!5e0!3m2!1sen!2s!4v1396738634194"></iframe>-->
            <iframe src="https://maps.google.com/maps?q={{ google_cordinates.lati|unlocalize}},{{ google_cordinates.long|unlocalize}}&hl=es;z=14&amp;output=embed" width="4008px" height="290px" frameborder="0" style="border:0"></iframe>
            </div>
            {% placeholder "contactaddress" %}
        </div>
        <div class="contact left contact-form">
            <p>{% trans 'If you have any enquires, please feel free to contact us by filling the form below.' %}</p>
            <form id="contact-form" action="." method="post">{% csrf_token %}
                <ul class="clearfix">
                    <li>{% trans 'Name' %}<span style="color:red;"> * </span></li>
                    <li>{{ form.name }}{{ form.name.errors }}</li>
                </ul>
                <ul class="clearfix">
                    <li>{% trans 'Email ID' %}<span style="color:red;"> * </span></li>
                    <li>{{ form.email }} {{ form.email.errors }}</li>
                </ul>
                <ul class="clearfix">
                    <li>{% trans 'Telephone' %}<span style="color:red;"> * </span></li>
                    <li>{{ form.telephone }} {{ form.telephone.errors }}</li>

                </ul>
                <ul class="clearfix">
                    <li>{% trans 'Enquiry' %}</li>
                    <li>{{ form.enquiry }}</li>
                </ul>
                <ul class="clearfix">
                    <li>&nbsp;</li>
                    <li>{{ form.captcha }} {{ form.captcha.errors }}</li>
                </ul>
                <ul class="clearfix">
                    <li>&nbsp;</li>
                    <li><input type="submit" name="contact_submit" class="btn" value="{% trans 'Submit' %}"></li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endcomment %}

